#map { 
	height: 100%;
	top: 32px;
	left: 0px;
	right: 0px;
}

/* .info stays for information about a country */
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
	color: black;
    border-radius: 5px;
	position: absolute;
	width: 180px;
	height: 60px;
	left: 0px;
	bottom: 0px;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 70%;
  position: absolute;
  overflow: hidden;
  margin: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.menubar {
  position: absolute;
  top: 0;
  height: 32px;
  left: 0;
  right: 0;
  background: linear-gradient(0deg, #cccccc, #e5e5e5);
  -webkit-tap-highlight-color: #b3b3b3;
}


.navigation {
  position: absolute;
  left: 0;
  top: 32px;
  right: 0;
  bottom: 0;
  width: 60px;
  -webkit-tap-highlight-color: #b3b3b3;
}


.infopanel {
  position: absolute;
  left: 180px;
  right: 0;
  bottom: 0;
  height: 32px;
  background: #eee;
}

.infobox {
  position: absolute;
  right: 0;
  bottom: 32px;
}

#infowindow {
	bottom: 50px;
}

#widget {
	bottom: 50px;
	width: 300; 
	height: 250;
}

button {
  background-color: #b3b3b3;
}


.ns {
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#search {
   position: absolute;
  right: 600px;
  top: 2px;
 
}
#text {
   position: absolute;
  right: 780px;
  top: 2px;
 
}
#imprint {
   position: absolute;
  right: 10px;
  top: 2px;
 
}

#fullscreen {
   position: absolute;
  right: 300px;
  top: 2px;
 
}

#description {
   position: absolute;
  right: 400px;
  top: 2px;
 
}
#head {
   position: absolute;
  left: 200px;
  font-size: 20px;
}

#printbutton{
   position: absolute;
  right: 200px;
  top: 2px;
 
}

#share{
   position: absolute;
  right: 100px;
  top: 2px;
 
}

#tabs {
   position: absolute;
  left: 0;
  top: 32px;
  right: 0;
  bottom: 0;
  height: 40;
  
}

/* colours for the themes ******************************************/
.nature1 {
	background: #1dd300;
	color: black;
	}

.nature2 {
	background: #52e93a;
	color: black;
	}

.nature3 {
	background: #7ae969;
	color: black;
	}	

.activities1 {
	background: #c7007d;
	color: black;
	}
	
.activities2 {
	background: #e339a4;
	color: black;
	}
	
.activities3 {
	background: #e366b5;
	color: black;
	}

.culture1 {
	background: #ff6c00;
	color: black;
	}
	
.culture2 {
	background: #ff9140;
	color: black;
	}
	
/* what is this?*/
li  {
	display: inline-block;
	width:120px;
	height:10px;
	}
	
#nature{
  position: absolute;
  text-align: center;
  left: 0;
  top: 40px;
  right: 0;
  bottom: 0;
  height: 170px;
  width: 40px;
  padding: 20px 0;
}

#activities{
   position: absolute;
   text-align: center;
  left: 0;
  top: 220px;
  bottom: 0;
  height: 170px;
  width: 40px;
  padding: 5px 0;
}

#culture{
  position: absolute;
  text-align: center;
  left: 0;
  top: 400px;
  height: 170px;
  width: 40px;
  padding: 20px 0;
}
 
#animals   {display: inline-block;
       height:75px;
	   }
	   
#wonders   {display: inline-block;
      height:75px;
	   }


#winter   {display: inline-block;
      height:75px;
	   }
	  

#summer   {display: inline-block;
      height:75px;
	   }
	   


#festivals  {display: inline-block;
      height:75px;
	   }
	   
	    
.slider{
  position: absolute;
  left: 100px;
  margin-left: 100px;
  margin-right: 100px;
  right: 200px;
  bottom: 40px;
  height: 10px;
  background: #cccccc;
  outline-color: #b3b3b3;
}
.ui-slider-label {
 color: #000000;
 text-shadow: white 0.5em 0.5em 1.0em;
 }

#logo{
	left: 8px;
	top: 2px;
	position: absolute;
	height: 28px;
	width: 28px;
	border: 0;
}

#ui-menu { width: 600px; }

#home{
	visibility: hidden;
}


.dropdown-toggle {
  
  top:2px;
}
ul.dropdown {
  display:none;
  position: absolute;
  top: 100%;
  margin-top: .5em;
  background: #00FFFFFFF; /* what color is that?*/
  min-width: 12em;
  z-index:1;
  padding: 0;
  border-radius: 0 0 .2em .2em;
    li {
      list-style-type: none;
      a {
        text-decoration: none;
        padding: .5em 1em;
        display: block;
      }
   }
}

