body {
    background-color: #000000;
    overflow: hidden;
}

#info {
    position: absolute;
    z-index: 10;
    left: 25px;
    top: 25px;
}

#defs {
    height: 0;
    width:0;
}

.frame {
    fill: none;
    pointer-events: all;
}

.feature {
    position:relative;
    fill: #E1E1E1;
    stroke: #000;
    stroke-width: .5px;
    cursor:pointer; 
}

/* Mouse over event on target feature (nation) */

.feature:hover{
    stroke: #000;
    stroke-width: 2px;
    cursor:pointer; 
}

.globe {
    stroke: rgba(255, 255, 255, .5);
    stroke-width: .25px;
}

.star {
    fill: #fff;
    stroke: rgba(255, 255, 255, .5);
    stroke-width: .25px;
}

.Sun {
    stroke: rgba(255, 204, 0, .5);
    stroke-width: .25px;
}

h2 {
    width: 350px;
    height: 30px;
    color: white;
    font-size: 17px;
    position: absolute;
    bottom: 1px;
    right: 0;
    left: 0;
    margin: auto;
}