                             /* CSS for index.html */

/* Style of the whole body */

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 70%;
  position: absolute;
  overflow: hidden;
  margin: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Style of the menu bar */

.menubar {
  position: absolute;
  top: 0;
  height: 32px;
  left: 0;
  right: 0;
  background: #fff;
  -webkit-tap-highlight-color: #b3b3b3;
}

/* Style imprint button */

#imprint {
  position: absolute;
  right: 10px;
  top: 2px;
  width:140px;
  height:26px;
  background:black;
  color:white;
}

/* Style fullscreen button */

#fullscreen {
  position: absolute;
  right: 380px;
  top: 2px;
  width:140px;
  height:26px;
  background:black;
  color:white;
}

/* Style map description button */

#description {
  position: absolute;
  right: 540px;
  top: 2px;
  width:140px;
  height:26px;
  background:black;
  color:white;
}

/* Style header */

#head {
  position: absolute;
  left: 200px;
  font-size: 20px;
}

/* Style print button */

#printbutton{
  position: absolute;
  right: 320px;
  top: 2px;
  color:white;
  height:26px;
  -ms-transform: scale(1); /* IE 9 */
  -webkit-transform: scale(1); /* Chrome, Safari, Opera */
  transform: scale(1);
  vertical-align: middle;
  background:black;
}

/* Style of logo */

#logo{
	left: 0;
	top: 0px;
	position: absolute;
	height: 32px;
	width: 328px;
	border: 0;
}

#home{
	visibility: hidden;
}

/* Style share button */

nav {
  position: absolute;
  top:2px;
  right:160px;
  background:black;
}
#share { 
  background:black;
  width:140px;
  height:26px;
  color:white;
}

ul.dropdown {
  display:none;
  position: absolute;
  top: 100%;
  margin-top: .5em;
  background: #00FFFFFFF;
  min-width: 12em;
  z-index:1;
  padding: 0;
  border-radius: 0 0 .2em .2em;
    li {
      list-style-type: none;
      a {
        text-decoration: none;
        padding: .5em 1em;
        display: block;
      }
   }
}

/* Style of flight button */

#flightbutton {
	bottom: 80px;
	right:10px;
	position: absolute;
    background: url('./plane.png');
	width:50px;
	height:50px;
}

#dialogframe{
  position:center;
  height:400px;
  width:100%;
}

#dialogframe1{
  positon:center;
  height:400px;
  width:100%;
}

#dialog-message{
background:#ffffff;
background-size: 100%;
} 